{% extends "layout.html" %}


{% block body %}
    <h3>About me</h3>
    <hr>
    Mustafa Evren is a software engineering student at Eastern Mediterranean University, currently in the second semester of his third year. He is passionate about programming and is currently learning the Flask framework using Python. As a means of practice, he has developed a blog website. With his strong work ethic and dedication, Mustafa is poised for success in the field of software engineering.
    <hr>
{% endblock body %}
    





